.about {
    border: 2px solid white;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.120);
    margin-bottom: 70px;

}
.about-title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS';
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column; 
}
.img-box {
    flex: 1;
    text-align: right;
    margin-bottom: 140px;
}
.img-box h3 {
    color: #000;
    text-align: center;
}
.about-text {
    /* flex: 1; */
    text-align: left;
}
.about-text p {
    margin: 0;
    font-family: 'Courier New';
    margin-top: 30px;
    color: white;
    font-size: large;
}
.about-text h3 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    margin: 20px 0;
}
.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}
.about-text .skill-item {
    background-color: rgba(128, 128, 128, 0.289);
    border: 1px solid white;
    padding: 5px 15px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: Verdana;
    color: white;
}
.about-text .practice {
    display: flex;
    flex-wrap: wrap;
}
.about-text .practice-item {
    background-color: rgba(128, 128, 128, 0.289);
    border: 1px solid white;
    padding: 15px 15px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
}
.practice-item a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    text-transform: uppercase;
}
a:hover {
    color: #0d0c1d;
}
.resume-box {
    margin-top: 10px;
    margin-right: 55px;
    background-color: rgba(128, 128, 128, 0.289);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid white;
}
.resume-box a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    color: #0d0c1d;
}

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .img-box {
        flex: 1;
        text-align: right;
        margin-bottom: 140px;
    }
    .about-text {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .img-box {
        margin-bottom: 20px; 
        margin-top: 20px;
    }
    .resume-box {
        margin-right: 54px;
        margin-top: 10px;
    }
    .about-text p {
        font-size: medium;
        margin-top: 20px; 
    }
    .about-text .skill-item,
    .about-text .practice-item {
        margin: 0 5px 10px 0;
    }
}