.about {
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.about-title h2 {
    text-transform: uppercase;
    text-align: center;
    color: #4b92f5;
    font-size: 28px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column; 
}

.img-box {
    flex: 1;
    text-align: right;
    margin-top: -180px;
}

.about-text {
    text-align: justify;
}

.about-text p {
    margin: 0;
    font-family: 'Courier New';
    margin-top: 30px;
    color: #fff;
    font-size: large;
}

.tab-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
    color: #4b92f5;
}

.education-content ul {
    padding-left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .education-content ul li {
    margin-bottom: 10px;
    font-family: 'Courier New';
    font-size: large;
  }

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.skill-item {
    border: 1px solid white;
    padding: 8px 15px;
    margin: 0 10px 10px 0;
    border-radius: 8px;
    gap: 8px;
    text-transform: uppercase;
    font-family: 'Courier New';
    font-size: 18px;
    color: #fff;
    box-shadow: 0 0 3px white;
}
  
.icon {
    font-size: 20px;
}

.practice {
    display: flex;
    flex-wrap: wrap;
}

.practice-item {
    background-color: rgba(128, 128, 128, 0.093);
    border: 2px solid white;
    padding: 15px 15px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 3px white;
}

.practice-item a {
    text-decoration: none;
    color: #fff;
    font-family: 'Courier New';
    font-size: 18px;
    text-transform: uppercase;
}

.practice-item a:hover {
    font-weight: bold;
}

.resume-box {
    margin-top: 20px;
    margin-right: 55px;
    background-color: rgba(128, 128, 128, 0.093);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 0 2px white;
}

.resume-box a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.resume-box a:hover {
    color: #4b92f5;
}

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .img-box {
        flex: 1;
        text-align: right;
        margin-bottom: 140px;
    }
    .about-text {
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .img-box {
        margin-bottom: 20px; 
        margin-top: 20px;
    }
    .resume-box {
        margin-right: 54px;
        margin-top: 10px;
    }
    .about-text p {
        font-size: medium;
        margin-top: 20px; 
    }
    .skill-item,
    .practice-item {
        margin: 0 5px 10px 0;
    }
}
