.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.gif-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    order: 2;
    max-height: 100%;
}

.animated-typing {
    font-family: 'Courier New';
    font-size: 3.5em;
    background: linear-gradient(90deg, #FFF5E1, #67C6E3, #378CE7, #2450ef);
    background-clip: text;
    color: transparent;
    display: inline-block;
    order: 1;
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
    }
    .animated-typing {
        font-size: 3.5em;
    }
}

@media (max-width: 767px) {
    .home {
        flex-direction: column;
    }
    .animated-typing {
        font-size: 2.0em;
        order: 1;
    }
    .gif-image {
        max-width: 60%; 
        order: 2;
    }
}

/* background: linear-gradient(90deg, #FFF5E1, #FF6969, #dc2757, #2450ef); */

