/* background: linear-gradient(90deg, #FFF5E1, #FF6969, #dc2757, #2450ef); */

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 110px;
}

.gif-image {
    max-width: 15%;
    height: auto;
    margin-bottom: 20px;
    max-height: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.animated-typing {
    font-family: 'Courier New';
    font-size: 3.5em;
    background: linear-gradient(90deg, #FFF5E1, #67C6E3, #378CE7, #2450ef);
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-top: 20%;
}

@media (min-width: 768px) {
    .animated-typing {
        font-size: 3.5em;
    }
}

@media (max-width: 767px) {
    .animated-typing {
        font-size: 2.0em;
    }
    .gif-image {
        max-width: 60%; 
    }
}
