.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;
    text-align: center; 
}

.gif-image {
    max-width: 150%;
    height: auto;
    margin-bottom: 20px; 
}

.animated-typing {
    font-family: 'Courier New'; 
    font-size: 3.5em;
    /* background: linear-gradient(90deg, #FFF5E1, #FF6969, #dc2757, #2450ef); */
    background: linear-gradient(45deg, #704264, #49243E);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

@media (min-width: 768px) {
    .home {
        flex-direction: row;
    }
    .animated-typing {
        font-size: 3.5em; 
    }
}

@media (max-width: 767px) {
    .animated-typing {
        font-size: 2.0em;
    }
    .gif-image {
        max-width: 60%; 
    }
}
