.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}
.nav-name {
    color: #4b92f5;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    font-weight: bold;
}
ul {
    flex: 1;
    list-style: none;
    text-align: right;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-family: 'Trebuchet MS';
    transition: box-shadow 0.3s ease-in-out;
}
ul li a {
    text-decoration: none;
    color: inherit;
}
ul li a:hover {
    text-decoration: none;
    color: #4b92f5;
    box-shadow: 0 3px;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 5%;
    }
    ul {
        width: 100%;
        padding: 0;
    }
    ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    ul li:hover {
        box-shadow: none;
    }
}
