.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    border-radius: 20px;
    margin: 20px auto;
    margin-bottom: 140px;
    box-shadow: 0 0 10px rgb(69, 69, 69);
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    font-family: cursive;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: bold;
}
ul li a {
    text-decoration: none;
    color: inherit;
}
ul li a:hover {
    text-decoration: none;
    color: #6420AA;
    box-shadow: 0  3px;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 5%;
    }
    ul {
        width: 100%;
        padding: 0;
    }
    ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    ul li:hover {
        box-shadow: none;
    }
}
