* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-image: linear-gradient(to bottom right, #000, #14213d); */
    background-color: black;
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.629);
    border-radius: 50%;
}